<section class="container">
  <h1>LABORATORIO DE ANGULAR</h1>
  <h2>{{ welcome }}</h2>
  <hr>
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p> La suma de  3 + 3 es: {{ 3 + 3 }}</p>
  <hr>
  <h3>{{ person.name }}</h3>
  <img [src]="person.avatar" alt="imagen" style="width: 100px; height: 100px;"><br>
  <hr>
  <button [disabled]="disabled">Clickeame</button> <-- DISABLED<br>
  <hr>
  <input type="text" [value]="name"><br>
  <button (click)="clickHandler()">Clickeame</button><br>
  <hr>
  <button (dblclick)="clickHandler()">double clickme</button>
  <hr>
  <p>(keydown)</p>
  <input type="text" [value]="person.age" (keydown)="change($event)">
  <hr>
  <h1>Signals</h1>
  Nombre: {{ name() }} Esto es un signal<br>
  <input type="text" [value]="name()" (change)="changeHandler($event)">   
  <hr>
  <span>Total de las tareas: {{ tasks().length }}</span>
  <ul style="list-style: none;">
    <li *ngFor="let task of tasks(); index as i">
      {{ i + 1 }}: {{ task }} 
    </li>
  </ul>
</section>
